<p>
  <b>Name:</b>
  <%=h @project_scope.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @project_scope.description %>
</p>


<%= link_to 'Edit', edit_project_scope_path(@project_scope) %> |
<%= link_to 'Back', project_scopes_path %>