<div id="engineer_search" style="margin-bottom: 10px;background-color:#FF9933;padding-bottom:10px">
<fieldset>
<legend><span class="fieldsetLabel">Engineer Search</span></legend>
<form style="border-right-style:thin" action="/engineers/search/">
   FirstName:<input id="fname" type="text" name="fname" /><br />
   LastName:<input id="lname" type="text" name="lname" /><br />
   Experience (at least):<select name="years">
                     <option value="0">0</option>
                     <option value="1">1</option>
                     <option value="2">2</option>
                     <option value="3">3</option>
                     <option value="4">4</option>
                     <option value="5">5</option>
                  </select> years<br />
   Skill Level: <%=select "skill", "id", SkillLevel.find(:all).collect { |s| [s.name,s.id] }, {:include_blank => true} %><br />
   Has Resume? <input type="checkbox" name="resume" value="1"/><br />
   Has Picture? <input type="checkbox" name="photo" value="1"/><br />
   <input type="submit" value="Engineer Query"/>
</form>
</fieldset>
</div>