<div id="project_search" style="margin-bottom: 10px;background-color:#3366FF;padding-bottom:10px">
<fieldset>
<legend><span class="fieldsetLabel ">Project Search</span></legend>
<form style="display:block;border-left-style:thin" action="/projects/search">
   <input id="query" type="text" name="query" value="Enter keywords..." />
   <input type="submit" value="Project Query"/>
</form>
</fieldset>
</div>